/* 先加载 Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局样式 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 自定义 Vuetify 样式覆盖（如果需要） */
.v-application {
  font-family: 'Roboto', sans-serif !important;
}